* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
}

/* HEADER  */

.header-section {
  background-color: #3c3a39;
  display: flex;
  align-items: center;
  padding: 2px 24px 2px 12px;
  justify-content: space-between;
  position: relative;
}

.logo-container {
  padding: 10px 12px 10px 12px;
}

.header-logo {
  color: #fff;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  line-height: 24px;
}

.header-logo:hover {
  color: blue;
}

.mobile-nav {
  display: flex;
}

.navigation-links {
  display: none;
}
.nav-links {
  list-style: none;
}
.nav-links li a {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* HEADLINE SECTION */

.headline-section {
  background-color: #1c1a19;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  background-image: url(images/Illustration-header-big.png);
  background-repeat: no-repeat;
  background-size: 70% 59.5%;
  background-position: 206% 117%;
  flex-direction: column;
  padding: 120px 24px;
  gap: 12px;
}

.headline-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.headline-primary {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.headline-subprimary {
  display: flex;
  color: #fff5e1;
  font-size: 24px;
  font-weight: 700;
}

.headline-description {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
}

.social-media-icons {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-media-icons li {
  padding: 8px;
}

/*WORKS SECTION*/
.works-section {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  color: black;
  text-decoration: none;
  padding: 120px 24px;
  gap: 24px;
}

.works-title {
  height: 107px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.works-title h1 {
  color: #1c1a19;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 24px;
}

.vector-container {
  width: 100%;
}

.vector-container svg {
  width: 100%;
}

.multi-post-stories-project {
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 100%;
  gap: 24px;
}

.image-container img {
  width: 100%;
}

.project-name {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-name h2 {
  color: #091e42;
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

.project-description {
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 24px;
}

.project-name .languages {
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  list-style: none;
  gap: 12px;
}

.dev-tool {
  border-style: groove;
  border-color: #8993a4;
  border-width: 1px;
  padding: 10px 12px 10px 12px;
}

.btn {
  background-color: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: justify;
  border: none;
  line-height: 24px;
  padding: 12px;
}

.button-container-multi {
  width: 100%;
}

.works-cards {
  display: grid;
  grid-template-columns: 1fr;
  color: #fff;
  gap: 24px;
}

.works-card {
  display: flex;
  flex-direction: column;
  background: url(images/works-card-background.png) no-repeat;
  background-size: 100% 100%;
}

.works-card-details {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-left: -3px;
  padding: 8px 16px 8px 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 24px;
  gap: 16px;
}

.works-card-details h2 {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

.works-card-details .languages {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  list-style: none;
  gap: 12px;
}

.works-card-details .languages .dev-tool {
  border: none;
  background: rgba(255, 255, 255, 0.24);
}

.works-card .btn {
  width: 100%;
  text-align: center;
  gap: 0;
}

.btn:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  padding-bottom: 11px;
  padding-top: 11px;
}

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1a19;
  background-image: url(images/about-me-big.png);
  background-repeat: no-repeat;
  background-size: 116% 15%;
  background-position: 214px 382px;
}

.about-myself-details {
  padding: 120px 24px 120px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-myself-details h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.37px;
}

.about-myself-details p {
  color: #f4f5f7;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about-myself-details .btn {
  padding: 12px;
  margin-bottom: 120px;
}

.about-myself-divider {
  width: 90%;
}

.about-myself-tools {
  padding: 120px 24px 60px 24px;
}

.tools {
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.tools-category {
  display: flex;
  padding: 12px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.tools h2 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.subcategories {
  list-style: none;
  display: flex;
  padding: 0 12px 0 12px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 42.667px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.contact-data {
  display: flex;
  flex-direction: column;
  padding: 75px 24px 120px 24px;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 15px;
  height: 100%;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.contact-input {
  display: flex;
  width: 90%;
  padding: 15px 16px 15px 16px;
  color: #1c1a19;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.contact-data h2 {
  display: flex;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 58px;
}

.contact-input::placeholder {
  color: #979493;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.textarea-container {
  display: flex;
  background-color: #fbf8f7;
  height: 17.5vh;
  position: relative;
}

.text-area {
  background-color: #fbf8f7;
  color: #3c3a39;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  resize: none;
  border: none;
  padding: 12px;
}

.textarea-container svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.button-container {
  background-color: #fff;
  border: none;
  width: 38%;
  align-self: center;
}

.bottom-nav {
  display: flex;
  padding-bottom: 16px;
  justify-content: center;
}

.bottom-nav .social-media-icons svg {
  color: #505f79;
}

.end-vector-container {
  padding: 0 121px 0 120px;
}

@media only screen and (min-width: 768px) {
  /* HEADER SECTION DESKTOP VERSION */
  .header-section {
    padding: 1.1% 9.8%;
  }

  .logo-container {
    padding: 10px 12px 10px 12px;
  }

  .header-logo {
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  .mobile-nav {
    display: none;
  }

  .navigation-links {
    display: flex;
    gap: 12px;
  }

  .nav-links {
    display: flex;
    gap: 8px;
    padding: 0;
  }

  .nav-links li {
    padding: 10px 12px 10px 12px;
  }

  .icon-container {
    display: flex;
    padding: 8px;
    flex-wrap: wrap;
    align-content: center;
  }

  /* HEADLINE SECTION */
  .headline-section {
    flex-direction: row;
    background-image: url(images/Illustration-header-big.png);
    background-repeat: no-repeat;
    background-size: 47% 114.5%;
    background-position: 100% 47%;
    gap: 6.1%;
    padding: 0 0 0 36px;
  }

  .headline-text {
    height: 46.18rem;
    width: 40.32%;
    order: 0;
    padding: 192px 0;
    margin-bottom: 75px;
  }

  .headline-primary {
    color: #f55800;
    font-family: "Crete Round", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 81.5px;
  }

  .headline-subprimary {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
  }

  .headline-description {
    color: #f4f5f7;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .social-media-icons {
    gap: 0;
    width: auto;
    align-self: center;
    flex-direction: column;
    order: -1;
  }

  .works-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
  }

  /* WORKS SECTION */
  .works-section {
    padding: 9% 1.6%;
    margin: 0 1.5%;
  }

  .works-title {
    flex-direction: row;
    gap: 24px;
    align-items: normal;
  }

  .works-title h1 {
    white-space: nowrap;
    align-self: flex-end;
  }

  .vector-container {
    display: flex;
    width: 100%;
  }

  .vector-container svg {
    width: 100%;
    align-self: center;
    color: #212121;
  }

  .multi-post-stories-project {
    flex-direction: row;
    gap: 24px;
  }

  .image-container img {
    height: 100%;
  }

  .project-name {
    width: 50%;
    gap: 12px;
  }

  .project-name h2 {
    font-size: 40px;
    line-height: 52px;
  }

  .project-description {
    font-size: 20px;
    line-height: 28px;
  }

  .project-name .languages {
    gap: 6px;
  }

  /* WORKS CARDS */
  .works-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .works-card-details {
    width: 100%;
    margin: 170px 0 8px;
    gap: 24px;
    font-size: 17px;
  }

  .works-card-details .languages {
    margin-bottom: 0;
  }

  .works-card .btn {
    display: none;
  }

  .works-card--2,
  .works-card--5 {
    background-image: url(images/works-card-data-dashboard.png);
  }

  .works-card--3,
  .works-card--6 {
    background-image: url(images/works-card-website-portfolio.png);
  }

  .active {
    position: relative;
    background-image: url(images/active-works-card.png);
  }

  .active .works-card-details {
    display: none;
  }

  .active .button-container-works-cards {
    display: flex;
  }

  .active .btn {
    position: absolute;
    bottom: 0;
    display: inline;
  }

  /* ABOUT MYSELF */

  .about-myself {
    align-items: normal;
    background-size: 41% 29%;
    background-position: 100% 12%;
  }

  .about-myself-details {
    margin: 0 50% 0 9%;
    padding: 9% 0;
    width: 39.31%;
  }

  .about-myself-details h1 {
    line-height: 81.5px;
  }

  .about-myself-details p {
    font-size: 20px;
    line-height: 32px;
  }

  .about-myself-details .btn {
    text-align: center;
    margin-bottom: 0;
  }

  .about-myself-divider {
    align-self: center;
    width: 90%;
  }

  .about-myself-tools {
    padding: 9% 0;
  }

  .tools {
    flex-direction: row;
    padding: 0 5.7%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-data {
    flex-direction: row;
    gap: 24px;
    margin: 0 2.3% 15px 2.3%;
  }

  .contact-data h2 {
    width: 120%;
    color: #262626;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 44px;
  }

  .contact-data-input {
    display: flex;
    flex-direction: column;
  }

  .button-container {
    display: flex;
    align-self: auto;
  }

  .bottom-nav .social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .end-vector-container {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .headline-text {
    margin-bottom: 58px;
  }

  .works-section {
    margin: 0 8.1%;
  }

  .project-name {
    width: 39.5%;
    gap: 24px;
  }

  .project-name .languages {
    gap: 12px;
  }

  .works-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .works-card--3 .works-card-details,
  .works-card--6 .works-card-details {
    margin-top: 214px;
  }

  .tools {
    padding: 0 9.7%;
  }

  .tools-category {
    justify-content: flex-start;
  }

  .subcategories {
    align-items: self-start;
  }

  .contact-data {
    margin: 0 3.3%;
  }

  .contact-data h2 {
    width: 100%;
    font-size: 40px;
    line-height: 52px;
    text-align: initial;
  }
}

@media only screen and (min-width: 1440px) {
  .contact-data {
    margin: 0 9.3% 15px 9.3%;
  }
}
